/*-----------------site-wide content------------------*/
html {
		position: relative;
		min-height: 100%;
}

body {
	background-image: url("../images/wov.png");

}

/*Preloading hover bio pic.*/
body:after{
	display:none;
	content: url("../images/jb.png");
}

p {
	font-size: 16px;
}


/*Sets up the main content block.*/
.mainContent{
	background-color: white;
	padding: 20px;
	margin-bottom: 3%;
	border: 1px solid lightgrey;
}

.mainRow {
	margin-bottom: 75px;
}

/*Sets up the conntect with me block.*/
.aside{
	background-color: white;
	height: 180px;
	text-align: center;
	margin-bottom: 15px;
	border: 1px solid lightgrey;
}

.connectIcons {
	width: 60px;
	height: 60px;
	margin-top: 10px;
}

.connectLinks:hover {
	opacity: 0.75;
}


/*Sets up the header bars for the logo, page header, and connect with me header.*/
h1, h2, h3 {
	font-family: 'Passion One', cursive;
	color: #4aaaa5;
	font-weight: normal;
	letter-spacing: 2.5px;
}

h1 {
	color: white;
	padding-top: 6px;
	margin: 0;
	}

h2 {
	font-size: 37px;
	margin-top: 12px;
}

hr {
	border-top: 2px solid lightgrey;
	border-left: none;
	margin: 0 0 15px;
}



/*Sets up the content for the header bar itself and its elements.*/
.navbar-default .navbar-brand, .navbar-brand:hover {
	color: white;
	background-color: #4aaaa5;
	font-family: 'Passion One', cursive;
	font-size: 35px;
	letter-spacing: 1.8px;
}

.logo {
	background-color: #4aaaa5;
	height: 50px;
	text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #4aaaa5;
    }

.navbar-toggle {
	border: none;
}

.navJon {
	border: none;
	border-bottom: 1px solid lightgrey;
}


/*The list is used for the nav buttons.*/
ul {
	margin-top: 12px;
	text-align: center;
}

li a {
	color: #666;
	text-decoration: none;
	font-family: 'News Cycle', sans-serif;
	font-size: 18px;
}

li {
	display: inline;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 0px 10px;
	border-left: 1px solid #eae8e8;

}

.navButtons {
	background-color: white;
}

li:first-child {
	border-left: none;
}

/*Sets up the rules for the footer.*/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	background-color: #666666;
	color: white;
	border-top: 7px solid #4aaaa5;
	text-align: center;
}

/*the footer text*/
.footerP {
	color: lightgrey;
	font-size: 15px;
	margin: 23px 0 0;
	width: 90%;
	display: inline-block;
}



/*---------------------individual page content---------------------*/
/*--------About Me Page content--------*/
.bioPic {
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
	float: left;
}

.bioPic:hover {
	content: url("../images/jb.png");
}

.bioText {
	padding: 0 15px;
}


/*--------Portfolio Page content--------*/
.portfolioImgDiv {
	margin: 10px 0;
	display: inline-block;
	position: relative;
}

/*The different portfolio images*/
.portfolioImg {
	width: 100%;
	height: 100%;
}

.portfolioImgDiv:hover {
	opacity: 0.75;
}

/*The block of text in fromt of the portfolio images*/
.imageText {
	position: absolute;
	top: 70%;
	width: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
}

.portImgCol {
	text-align: center;
}



/*--------Contact Page content--------*/
/*Code turns off the resize on the input fields.*/
.noResize {
	resize: none;
}

label {
	color: #696969;
}

/*This code affects the submit button and color codes it to the match the theme.*/
.btn {
	background: #4aaaa5;
	color: white;
}

.btn.focus, .btn:focus, .btn:hover {
	color: #e6e6e6;
	text-decoration: none;
	background: #4c9e9a;
}



/*Tweaks made to the background of the header to be green and all encompasing in the smallest size.*/
@media screen and (max-width: 767px) {
	.container>.navbar-header {
		margin-right: -15px;
		margin-left: -15px;
		background: #4aaaa5;
	}

	.mainContent, .aside {
		left: 2%;
		width: 96%;
	}
}

/*Tweaks made to keep the right nav bar in place and to keep the bars between the links smaller.*/
@media (min-width: 767px)  {
	.navbar-nav {
    	margin-right: -50px;
	}

	.headerBar {
		overflow: hidden;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 15px;
	}

	.navbar-nav>li>a {
		padding-bottom: 2px;
		padding-top: 0;
	}
}

@media (min-width: 992px)  {
	.navbar-nav {
    	margin-right: 175px;
	}

	.aside {
		margin-left: 48px;
		width: 292px;
	}
}

@media (min-width: 1200px)  {
	.navbar-nav {
    	margin-right: 95px;
	}
}